* {
    padding: 0;
    margin: 0;
  }
  body {
    background-color: #121212;
    font-family: 'Montserrat', sans-serif;
  }
  
  .spotify-logo img {
    height: 50px;
    width: 50px; 
    margin-left: 0px;
    margin-right: 0px;
    }
  
  .main-container {
    margin-left:0px;
    margin-bottom:0px;
  }
  
  .topbar {
    display: flex;
    justify-content: space-between;

    padding: 14px 20px;
    margin-right: 10px;
    background-color:rgb(18, 161, 18);
    
  }
  
  .topbar .navbar {
    display: flex;
    align-items: center;
  }
  .topbar .navbar ul {
    list-style: none;
  }
  .topbar .navbar ul li {
    display: inline-block;
    margin: 0px 8px;
    width: 70px;
  }
  .topbar .navbar ul li a {
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .topbar .navbar ul li a:hover{
    color:rgb(12, 66, 98);
    
  }
  .topbar .navbar ul li.divider {
    color: #ffffff;
    font-size: 26px;
    margin: 0px 20px;
    width: auto;
  }
  .topbar .navbar button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    margin-left: 20px;
  }
  .topbar .navbar button:hover{
    background-color: #f2f2f2;
  }
  
  .section1  {
    padding: 20px 40px;
  }
  .show{
    color: white;
    text-decoration: none;
    margin-right:0px;

    
  }
  .section1  h2 {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
  }
  .section1  .list {
    display: flex;
    gap: 20px;
  }
  .section1  .list .item {
    min-width: 140px;
    width: 160px;
    padding: 15px;
    background-color: #121212;
    border-radius: 5px;
   
  }
  .section1  .list .item:hover {
    background-color: #252525;
  }
  .section1  .list .item img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
    
  }
     
  
  .section1  .list .item {
    position: relative;
  }
  .section1 .list .item h4 {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
  }
  .section1  .list .item p {
    color: #989898;
    font-size: 12px;
    font-weight: 600;
  }
  .section1 h2:hover{
    color: rgb(9, 100, 77);
  }
  
  .section2 {
    padding: 20px 40px;
  }
  .section2 h2 {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
    
  }
  .section2 h2:hover{
    color:rgb(9, 100, 77);;
  }
  
  .section2 .list {
    display: flex;
    gap: 20px; 
  }
  .section2 .list .item{
    padding: 10px;
    background-color: #121212;
    border-radius: 5px;
  }
  .section2 .list .item:hover{  
    background-color: #252525;
  }
  .section2 .list .item img {
    margin-bottom: 10px;
    height:170px;
    width:170px; 
    border-radius:50%;
  }
  .section2 .list .item  {
    position: relative;
  }
  
  .section2 .list .item h4 {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
  }
  .section2 .list .item p {
    color: #989898;
    font-size: 12px;
    font-weight: 600;
  }
  
  .footer {
    padding: 20px 40px;
  }
  .footer  h2 {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
  }
  .footer  .detail {
    display: flex;
    gap: 20px;
  }
  .footer  .detail .item {
    min-width: 140px;
    background-color: #121212;
    border-radius: 5px;
   
  }
  
  .footer  .detail .item img {
    width: 100%;
    margin-bottom: 10px;
    
  }
  .footer  .detail .item {
    position: relative;
  }
  .footer .detail .item h4 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .footer  .detail .item p {
    color: #989898;
    font-size: 15px;
    font-weight: 600;
  }
  
  